Understanding Python Data Types :-

Description :-   
This task involves understanding the basic data types in Python such as list, dictionaries, and sets.

Responsibility :-   
Write a Python Program to create a list, a dictionary, and a set. Perform basic operations like adding, removing, and modifying elements.

In [1]:
Python_list = [1,3,5,7,10,12,15]

# Adding elements in a List
Python_list.append(20)

# Removing elements from a List
Python_list.remove(5)

# Modifiying elements in a List
Python_list[1] = 6

print(Python_list)

[1, 6, 7, 10, 12, 15, 20]

Using Functional Notation :-

In [3]:
def Python_list(lst) -> list:
  # Adding elements in a List
  lst.append(20)

  # Removing elements in a List
  lst.remove(5)

  # Modifying elements of a List
  lst[1] = 6

  return lst

In [4]:
python_list = [1,3,5,7,10,12,15]

Python_list(python_list)

[1, 6, 7, 10, 12, 15, 20]

In [5]:
Python_dict = {'Name':'Bitan','Age':29,'Gender':'Male','Course':'Data Analysis with Python'}

# Adding elements inside a Dictionary
Python_dict['State'] = 'West Bengal'

# Removing elements from a Dictionary
del(Python_dict['Course'])

# Modifying elements of a Dictionary
Python_dict['Name'] = 'Biswas'

print(Python_dict)

{'Name': 'Biswas', 'Age': 29, 'Gender': 'Male', 'State': 'West Bengal'}

Using Functional Notation :-

In [6]:
def Python_dict(dicts) -> dict():
  # Adding elements inside a Dictionary
  dicts['State'] = 'West Bengal'

  # Removing elements from a Dictionary
  del(dicts['Course'])

  # Modifying elements of a Dictionary
  dicts['Name'] = 'Biswas'

  return dicts

In [7]:
python_dict = {'Name':'Bitan','Age':29,'Gender':'Male','Course':'Data Analysis with Python'}

Python_dict(python_dict)

{'Name': 'Biswas', 'Age': 29, 'Gender': 'Male', 'State': 'West Bengal'}

In [9]:
Python_set = {1,3,5,7,10}

# Adding elements in a Set
Python_set.add(15)

# Removing elements from a Set
Python_set.remove(7)

# Modifying elements of a Set
Python_set.update({8,9})

print(Python_set)

{1, 3, 5, 8, 9, 10, 15}

Using Functional Notation :-

In [10]:
def Python_set(st) -> set():
  # Adding elements in a Set
  st.add(15)

  # Removing elements from a Set
  st.remove(7)

  # Modifying elements of a Set
  st.update({8,9})

  return st

In [11]:
python_set = {1,3,5,7,10}
Python_set(python_set)

{1, 3, 5, 8, 9, 10, 15}